.button {
    display: inline-block;
    // Colors
    background-color: var(--blue-primary-color);
    color: white;
    // Format
    border: none;
    border-radius: 10px;
    padding: 12.5px 1rem 12.5px 1rem;
    // Typography
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;

    @media screen and (min-width: 768px) {
        // Typography
        font-size: 16px;
        // Sizing
        padding: 12.5px 24px 12.5px 24px;
    }
}
