.cardAddress {
    // Flex
    display: flex;
    row-gap: 16px;
    flex-direction: column;

    &__div {
        // Flex
        display: flex;
        column-gap: 13px;

        & > :first-child {
            width: 20px;
        }

        &__text {
            font-size: var(--h4-font-size);
            color: var(--themed-text-color);
            opacity: 50%;
        }
    }

    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
        height: 66px;
        column-gap: 64px;
    }
}
