.searchBarArea {
    // Styling
    background-color: transparent;
    border: none;
    // Typography
    color: var(--accent-color);
    font-size: 13px;
    // Dimensioning
    height: 25px;
    width: 55%; // So it doesn't crush the search icon
    padding: 0; // Removes default 2px padding

    // Other
    line-height: 2; // To align the text to the middle
}
