.searchBarInput {
    // Styling
    background: transparent;
    border: none;
    // Dimensioning
    width: 59%; // So it doesn't crush the search icon
    padding: 0; // Removes default 2px padding
    // Other
    line-height: 2; // To align the text to the middle
    // Typography
    color: var(--themed-text-color);
    font-family: var(--font-family);
    font-size: 13px;
    &::placeholder {
        color: var(--input-color);
    }
}
