// Importing the font
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

// Light Mode Colors
:root {
	// Colors
	--blue-primary-color: #0079ff;
	--secondary-color: #697c9a;
	--accent-color: #4b6a9b;
	--background-color: #f6f8ff;
	--surface-color: #fefefe;
	--text-color: #2b3442;

	--input-color: var(--accent-color);

	// Breakpoints
	--breakpoint-lg: 1440px;
	--breakpoint-md: 768px;

	// Margins
	--margin-small: 24px;

	// Typography
	--font-family: "Space Mono", monospace;

	--h1-font-size: 26px;
	--h1-line-height: 38px;
	--h1-font-weight: 700;

	--h2-font-size: 22px;
	--h2-line-height: 33px;
	--h2-font-weight: 700;

	--h3-font-size: 16px;
	--h3-line-height: 24px;
	--h3-font-weight: 400;

	--h4-font-size: 13px;
	--h4-line-height: 20px;
	--h4-font-weight: 400;

	--body-font-size: 15px;
	--body-line-height: 25px;
	--body-font-weight: 400;
}

// Dark Mode Colors
.dark-theme {
	--blue-primary-color: #0079ff;
	--secondary-color: #141d2f;
	--accent-color: #1e2a47;
	--background-color: #141d2f;
	--surface-color: #1e2a47;
	--text-color: #ffffff;

	--input-color: var(--text-color);
}

// Applying the variables
body {
	// Colors
	background-color: var(--background-color);
	color: var(--text-color);
	// Typography
	font-family: var(--font-family);
	font-size: var(--body-font-size);
	line-height: var(--body-line-height);
	// Spacing
	margin: var(--margin-small);
}

// Typography Styles
h1 {
	font-size: var(--h1-font-size);
	line-height: var(--h1-line-height);
	font-weight: var(--h1-font-weight);
}

h2 {
	font-size: var(--h2-font-size);
	line-height: var(--h2-line-height);
	font-weight: var(--h2-font-weight);
}

h3 {
	font-size: var(--h3-font-size);
	line-height: var(--h3-line-height);
	font-weight: var(--h3-font-weight);
}

h4 {
	font-size: var(--h4-font-size);
	line-height: var(--h4-line-height);
	font-weight: var(--h4-font-weight);
}
