.searchBar {
    // Flex
    display: flex;
    align-items: center;
    justify-content: space-between;
    // Styling
    background-color: var(--surface-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    // Dimensioning
    padding: 7px;
    // Spacing
    margin-bottom: 1rem;

    &__left {
        // Flex
        display: flex;
        column-gap: 0.5rem;
        padding-left: 8px;
    }

    @media screen and (min-width: 768px) {
        padding: 9px;
        &__left {
            // Flex
            display: flex;
            column-gap: 24px;

            & > :first-child {
                // Aligning the icon
                margin-top: 6px;
            }
        }
    }

    @media screen and (min-width: 1440px) {
        padding: 9.5px;
    }
}
