.searchBar {
    // Flex
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    // Styling
    background-color: var(--surface-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    // Dimensioning
    padding: 7px;
    // Spacing
    margin-bottom: 1rem;
}
