.header {
    // Flex
    display: flex;
    justify-content: space-between;

    &__title {
        margin: 0;
    }

    // Spacing
    margin-top: 31px;
    margin-bottom: 36px;

    @media screen and (min-width: 768px) {
        // Spacing
        margin-top: 43px;
    }
}
