.header {
    // Flex
    display: flex;
    justify-content: space-between;

    &__title {
        font-weight: normal;
        margin: 0;
    }

    // Spacing
    margin-top: 31px;
    margin-bottom: 36px;
}
