.cardAccountnumbers {
    // Grid
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    //Styling
    background-color: var(--background-color);
    // Format
    border-radius: 10px;
    &__div {
        // Flex
        display: flex;
        align-items: center;
        flex-direction: column;
        & > span {
            color: var(--themed-text-color);
            font-size: 11px;
        }
    }

    @media screen and (min-width: 768px) {
        &__div {
            align-items: flex-start;
            padding: 16px 32px 18px 32px;
            & > span {
                // Typography
                font-size: 13px;
                // Spaciung
                margin-bottom: 4px;
            }

            & > data {
                font-size: 23px;
            }
        }
    }

    @media screen and (min-width: 1440px) {
        // This is a workaround for the grid in the Card compoennt
        margin-top: 20px;
    }
}
