.cardBio {
    // Flex
    display: flex;
    column-gap: 20px;
    flex-direction: column;

    &__title {
        // Typography
        font-size: var(--h3-font-size);
        line-height: 24px;
    }

    &__handle {
        // Styling
        color: var(--blue-primary-color);
        // Spacing
        margin-bottom: 6px;
    }

    &__handle,
    &__time {
        // Typography
        font-size: var(--h4-font-size);
        line-height: 19px;
    }

    &__time {
        // Styling
        color: var(--themed-text-color);
    }

    @media screen and (min-width: 768px) {
        column-gap: 40px;

        &__title {
            // Typography
            font-size: var(--h1-font-size);
            // Spacing
            margin-bottom: 12px;
            margin-top: 12px;
        }

        &__handle {
            // Typography
            font-size: 16px;
            // Spacing
            margin-bottom: 12px;
        }

        &__time {
            font-size: 15px;
        }
    }

    @media screen and (min-width: 1440px) {
        // Grid
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 48px 48px;

        &__title,
        &__handle {
            // Grid
            grid-column: 1 / 2;
            // Spacing
            margin-bottom: 0;
        }

        &__time {
            // Grid
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            // Spacing
            margin-top: 16px;
        }
    }
}
